


.button_outlined {

    @apply 
    border border-2 
    border-[var(--tertiary-color)]
    hover:bg-[var(--tertiary-color)] 
     px-12 py-2 text-[var(--tertiary-color)] 
    hover:text-[var(--text-light)] 
    rounded-[4px]
}

.button_filled {
    @apply bg-[var(--primary-color)] 
    text-[var(--text-light)]  px-12 py-2  border-2
    rounded-[4px]
    
}

.button_outlined_2 {

    @apply 
    border border-2 
    border-[var(--primary-color)]
    hover:!border-[var(--tertiary-color)]
    hover:bg-[var(--tertiary-color)] 
     px-12 py-2 text-[var(--tertiary-color)] 
     text-[var(--primary-color)]
    hover:text-[var(--text-light)] 
    rounded-[4px]
}


